{include file="public/header" /}
<link href="/static/admin/summernote/bootstrap.min.css" rel="stylesheet">
<link href="/static/admin/summernote/summernote.css" rel="stylesheet">
<script src="/static/admin/summernote/summernote_config.js"defer></script>
<script src="/static/admin/summernote/summernote.js?v=3.1"defer></script>
<script src="/static/admin/summernote/summernote_config_for_edit.js"defer></script>
<script src="/static/admin/summernote/lang/summernote-zh-CN.js"defer></script>
<style type="text/css">
    .layout-pagination {
        text-align: right;
        margin-top: 15px;
    }
    .modal-content,.modal-dialog{
        position: relative;
        z-index: 9000 !important;
    }
    .modal-dialog{
        width: 70% !important;
    }
    .modal-backdrop{
        /*opacity: .3 !important;*/
        /*z-index: -1 !important;*/
        display: none !important;
    }
    .c-background{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.5);

    }
    .in{
        height: 100vh;
    }
    #dive{
        width: 722px !important;
    }
    .dis{
        width: 722px !important;
    }
    .file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
    .file-item .info{overflow: hidden;}
    .uploader-list{width: 100%; overflow: hidden;}
    #imgPicker{
        position: relative;
        display: inline-block;
        cursor: pointer;
        background: #00b7ee;
        padding: 10px 15px;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        overflow: hidden;
    }
    #fengmian{
        position: absolute;
        top: 0;
        left: 0;
        width: 16%;
        height: 21%;
        margin: 0;
        font-size: 23px;
        cursor: pointer;
        filter: alpha(opacity=0);
        opacity: 0;
        direction: ltr;
    }
    /**
        将编辑器的遮罩层关掉
     */
    .modal-backdrop{
        display: none;
    }
    #container{
        min-width:500px;
        min-height:500px;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight" id="app">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>车辆信息-编辑</h5>
                </div>
                <div slot="body">
                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <div class="form-horizontal m-t">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">封面图(推荐尺寸380*190)：</label>
                                                <div class="col-xs-12 col-sm-4 col-md-4">
                                                    <div class="form-group" id="uploadForm" enctype='multipart/form-data'>
                                                        <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new">选择图片</span>
                                                        <input type="file" name="avatar" id="fengmian"
                                                               accept="image/gif,image/jpeg,image/x-png" @change="pickImage($event,1)" />
                                                    </span>
                                                            <div class="fileinput-new thumbnail" style="max-height:150px;">
                                                                <img id='picImg' style="max-height: 140px;" :src="list.img" alt=""/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">车名：</label>
                                                <div class="input-group col-sm-3">
                                                    <input type="text" v-model="list.name" class="form-control" maxlength="7"><div style="color: red;">请输入7个字以内的车名</div>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">状态：</label>
                                                <el-radio-group v-model="list.state">
                                                    <el-radio-button label="1">启用</el-radio-button>
                                                    <el-radio-button label="2">禁用</el-radio-button>
                                                </el-radio-group>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">绑定品牌：</label>
                                                <el-select v-model="list.vehicle_brand_id" placeholder="请选择">
                                                    <el-option
                                                            v-for="item in options"
                                                            :key="item.id"
                                                            :label="item.name"
                                                            :value="item.id">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">购车推荐：</label>
                                                <el-radio-group v-model="list.recommend">
                                                    <el-radio-button label="1">是</el-radio-button>
                                                    <el-radio-button label="2">否</el-radio-button>
                                                </el-radio-group>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">视频：</label>
                                                <div class="col-xs-12 col-sm-4 col-md-4">
                                                    <div class="form-group" id="uploadForm" enctype='multipart/form-data'>
                                                        <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                            <span class="btn btn-primary btn-file">
                                                                <span class="fileinput-new">选择上传视频</span>
                                                                <input type="file" name="avatar" id="fengmian" style="width:100%"
                                                                    accept="image/gif,image/jpeg,image/x-png " @change="pickImages($event,1)" />
                                                            </span>
                                                            <div class="fileinput-new thumbnail">
                                                                <video :src="list.video" controls="controls" >
                                                                </video>
                                                            </div>
                                                            <div style="color: red;">支持视频格式:mp4</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label ">内容:</label>
                                                <div class="input-group col-sm-5">
                                                    <div id="details" class="summernote">{$data.details}</div>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-3">
                                                    <button class="btn btn-primary" @click="toSubmit" ><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{include file="public/footer" /}

<script type="text/javascript">

    vm = new Vue({
        el: '#app',
        data: {
            options:[],
            list:[],
        },
        mounted:function()
        {
            this.list={$data};
            this.options={$options};
        },
        methods: {
            handleChange(value) {
                console.log(value);
            },
            imgdds:function(){
                var vm = this;
                vm.imgd= '0';
            },
            pickImage: function (event,ii) {
                var
                    file = event.target.files[0],//获取到了对文件的描述信息
                    vm = this;
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(e) {
                    let data = new FormData();
                    data.append('image',e.target.result);
                    axios.post('{:url("Upload/upload")}', data).then(function (ras) {
                        if(ii == 1){
                            vm.list.img = ras.data.data;
                        }else{
                            vm.imglist.push(ras.data.data);

                        }
                    });
                };
                return false;
            },
            pickImages: function (event,ii) {
                var
                    file = event.target.files[0],//获取到了对文件的描述信息
                    vm = this;
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(e) {
                    let data = new FormData();
                    data.append('image',e.target.result);
                    axios.post('{:url("Upload/upload")}', data).then(function (ras) {
                        if(ii == 1){
                            vm.list.video = ras.data.data;
                        }else{
                            vm.imglist.push(ras.data.data);

                        }
                    });
                };
                return false;
            },
            toSubmit:function()
            {
                var vm = this;
                let param = new FormData();
                if(vm.list.img==""){
                    layer.msg('请上传封面图,封面图不能为空！', {icon: 5,time:1500,shade: 0.1}, function(index){
                        layer.close(index);
                    });
                    return false;
                }
                if(vm.list.name==""){
                    layer.msg('请输入车名,车名不能为空！', {icon: 5,time:1500,shade: 0.1}, function(index){
                        layer.close(index);
                    });
                    return false;
                }
                if(vm.list.vehicle_brand_id==""){
                    layer.msg('请选择绑定品牌,绑定品牌不能为空！', {icon: 5,time:1500,shade: 0.1}, function(index){
                        layer.close(index);
                    });
                    return false;
                }
                if(vm.list.vehicle_brand_id==""){
                    layer.msg('请选择绑定品牌,绑定品牌不能为空！', {icon: 5,time:1500,shade: 0.1}, function(index){
                        layer.close(index);
                    });
                    return false;
                }
                if(vm.list.video==""){
                    layer.msg('请上传视频,视频不能为空！', {icon: 5,time:1500,shade: 0.1}, function(index){
                        layer.close(index);
                    });
                    return false;
                }
                if($('#details').summernote('code')==""){
                    layer.msg('请输入内容,内容不能为空！', {icon: 5,time:1500,shade: 0.1}, function(index){
                        layer.close(index);
                    });
                    return false;
                }
                param.append("id",vm.list.id);
                param.append("img",vm.list.img);
                param.append('name', vm.list.name);
                param.append('vehicle_brand_id', vm.list.vehicle_brand_id);
                param.append('state', vm.list.state);
                param.append('recommend', vm.list.recommend);
                param.append('video', vm.list.video);
                param.append('details', $('#details').summernote('code'));
                axios.post('{:url("VehicleInformation/edit")}', param).then(function (ras) {
                    if(ras.data.code == 200){
                        layer.msg(ras.data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                            layer.close(index);
                            window.location.href="{:url('VehicleInformation/index')}";
                        });
                    }else{
                        layer.msg(ras.data.msg, {icon: 5,time:1500,shade: 0.1}, function(index){
                            layer.close(index);
                        });
                    }
                });
            },
        },

    });

</script>
</body>
</html>